
h1{
    /* Welcome back! */
    position: absolute;
    width: 315px;
    height: 89px;
    left: 127px;
    top: 231px;
    /*font-family: 'Assistant';*/
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #000000;
}

h2{
    /* Welcome back! Please enter your details. */
    position: absolute;
    width: 443px;
    height: 50px;
    left: 91px;
    top: 308px;
    /*font-family: 'Assistant';*/
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9D9C9C;
}

.submit-button{
    /* Rectangle 1 */

    box-sizing: border-box;
    position: absolute;
    width: 107px;
    height: 21px;
    left: 726px;
    top: 632px;
    background: #F00F0F;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-label-user{
    /* UserName */

    position: absolute;
    width: 118px;
    height: 26px;
    left: 659px;
    top: 500px;
    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.login-input-user{
    /* UserNameInput */
    box-sizing: border-box;
    position: absolute;
    width: 228px;
    height: 22px;
    left: 659px;
    top: 526px;
    background: #FFFFFF;
    border: 2px solid #000000;

}


.login-label-pass{
    /* Password */

    position: absolute;
    width: 118px;
    height: 26px;
    left: 659px;
    top: 566px;
    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;


}


.login-input-pass{
    /* PasswordInput */

    box-sizing: border-box;
    position: absolute;
    width: 228px;
    height: 22px;
    left: 659px;
    top: 592px;
    background: #FFFFFF;
    border: 2px solid #000000;

}

/*.background{*/
/*    !* image 10 *!*/

/*    position: absolute;*/
/*    width: 1024px;*/
/*    height: 771px;*/
/*    left: 772px;*/
/*    top: 1024px;*/


/*}*/

.logo{
    position: absolute;
    width: 498px;
    height: 230px;
    left: 909px;
    top: 397px;}



