/* Videos.css */

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}

.video-item {
  flex-basis: 48%;
  margin: 1em;
  background-color: #f9f9f9;
  padding: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.video-item h2 {
  text-align: center;
  color: #333;
  margin-bottom: 0.5em;
}

.video-item video {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.video-item p {
  color: #666;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.Edit-Bottom,
.Delete-Bottom {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.Edit-Bottom {
  background-color: #008000;
  color: #fff;
  margin-right: 0.5em;
}

.Delete-Bottom {
  background-color: #ff3333;
  color: #fff;
}

.order-vidoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .video-item {
    flex-basis: 100%;
  }
}
